	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/08/2018 09:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-blog:before { content: "\f100"; }
.flaticon-002-browser:before { content: "\f101"; }
.flaticon-003-bug:before { content: "\f102"; }
.flaticon-004-coding:before { content: "\f103"; }
.flaticon-005-color-scheme:before { content: "\f104"; }
.flaticon-006-magic-wand:before { content: "\f105"; }
.flaticon-007-css:before { content: "\f106"; }
.flaticon-008-edit-tool:before { content: "\f107"; }
.flaticon-009-web-design:before { content: "\f108"; }
.flaticon-010-wizard:before { content: "\f109"; }
.flaticon-011-programming:before { content: "\f10a"; }
.flaticon-012-mockup:before { content: "\f10b"; }
.flaticon-013-warning:before { content: "\f10c"; }
.flaticon-014-feature:before { content: "\f10d"; }
.flaticon-015-folder-management:before { content: "\f10e"; }
.flaticon-016-edit-text:before { content: "\f10f"; }
.flaticon-017-gallery:before { content: "\f110"; }
.flaticon-018-html:before { content: "\f111"; }
.flaticon-019-login:before { content: "\f112"; }
.flaticon-020-image:before { content: "\f113"; }
.flaticon-021-mobile-app:before { content: "\f114"; }
.flaticon-022-mockup-design:before { content: "\f115"; }
.flaticon-023-newsletter:before { content: "\f116"; }
.flaticon-024-planning:before { content: "\f117"; }
.flaticon-025-responsive:before { content: "\f118"; }
.flaticon-026-search:before { content: "\f119"; }
.flaticon-027-speedometer:before { content: "\f11a"; }
.flaticon-028-admin:before { content: "\f11b"; }
.flaticon-029-style-sheet:before { content: "\f11c"; }
.flaticon-030-configuration:before { content: "\f11d"; }
.flaticon-031-update:before { content: "\f11e"; }
.flaticon-032-web-design-1:before { content: "\f11f"; }
.flaticon-033-web-hosting:before { content: "\f120"; }
.flaticon-034-online-shop:before { content: "\f121"; }
.flaticon-035-checklist:before { content: "\f122"; }
.flaticon-036-website:before { content: "\f123"; }