 /************ CSS Styles ************

    Template Name: Cinja - App Landing  Template
    Author: Tanmoy Dhar
    version: 1.0
    Copyright: 2018

************************************/
/*==================================

        Table of Content
        1. Body Css
        2. Preload
        3. Navbar
        4. Banner Section
        5. About Section
        6. Services Section
        7. Counter Section
        8. Screensort Section
        9. Features Section
        10. Blogs Section
        11. Testimonial Section
        12. Contact Form Section
        13. Footer
        14. Single Blog Page
        15. Mobile Responsive

==================================*/

/*============ 1. Body Css ============*/

/*@import url("https://fonts.googleapis.com/css?family=Exo:400,600,700");*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

ul,
li {
  list-style: none; }

select {
  width: 100%; }

input:focus {
  outline: 0; }

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Exo", sans-serif;
    color: #4A4545;
}



      img {
      width: 100%;
      height: auto; }

      a,
      a:hover,
      a:focus {
      color: inherit; 
      text-decoration: none;


    }

p{
  font-size: 0.875rem;
    color: #9599A7;
    line-height: 1.9;
}

      span {
      display: inline-block; }

      /*===========Margin And Paddings============*/
      .mt-0 {
      margin-top: 0 !important; }

      .mt-5 {
      margin-top: 5px !important; }

      .mt-10 {
      margin-top: 10px !important; }

      .mt-15 {
      margin-top: 15px !important; }

      .mt-20 {
      margin-top: 20px !important; }

      .mt-25 {
      margin-top: 25px !important; }

      .mt-30 {
      margin-top: 30px !important; }

      .mt-35 {
      margin-top: 35px !important; }

      .mt-40 {
      margin-top: 40px !important; }

      .mt-45 {
      margin-top: 45px !important; }

      .mt-50 {
      margin-top: 50px !important; }

      .mt-55 {
      margin-top: 55px !important; }

      .mt-60 {
      margin-top: 60px !important; }

      .mt-62 {
      margin-top: 62px !important; }

      .mt-65 {
      margin-top: 65px !important; }

      .mt-70 {
      margin-top: 70px !important; }

      .mt-75 {
      margin-top: 75px !important; }

      .mt-80 {
      margin-top: 80px !important; }

      .mt-85 {
      margin-top: 85px !important; }

      .mt-90 {
      margin-top: 90px !important; }

      .mt-95 {
      margin-top: 95px !important; }

      .mt-100 {
      margin-top: 100px !important; }
      .mt-150 {
      margin-top: 150px !important; }
      .mt-250 {
      margin-top: 250px !important; }
      /* Custom Margin Bottom */
      .mb-0 {
      margin-bottom: 0 !important; }
      .mb-15 {
      margin-bottom: 15px !important; }
      .mb-30 {
      margin-bottom: 30px !important; }
      .mb-35 {
      margin-bottom: 37px !important; }
      .mb-20 {
      margin-bottom: 20px !important; }
      .mb-50 {
      margin-bottom: 50px !important; }

      .mb-100 {
      margin-bottom: 100px !important; }

      .m-0 {
      margin: 0px !important; }

      /* Custom Padding top */
      .pt-0 {
      padding-top: 0 !important; }
      .pt-30{
        padding-top: 30px !important; 
      }
      .pt-50 {
      padding-top: 50px !important; }
      .pt-100 {
      padding-top: 100px !important; }

      /* Custom Padding top */
      .pb-0 {
      padding-bottom: 0 !important; }

      .pb-5 {
      padding-bottom: 5px !important; }

      .pb-30 {
      padding-bottom: 30px !important; }

      .pb-50 {
      padding-bottom: 50px !important; }
      .pb-70{
      padding-bottom: 70px !important;  
      }
      .pb-100 {
      padding-bottom: 100px !important; }
      .pb-200 {
      padding-bottom: 150px !important; }
      .p-0 {
      padding: 0 !important; }

      .owl-theme .owl-dot span {
      width: 20px !important; }
.header-slides .owl-nav {
    margin-top: -15px !important;
}
      .bg-gray {
      background-color: #F3F9FF; }

      .div-btn {
      display: inline-block;
      background-color: #2ecbd1;
      padding: 10px 15px;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: .2s background-color ease;
      -o-transition: .2s background-color ease;
      transition: .2s background-color ease;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 10px;
      }
      .div-btn:hover {
      color:#2ecbd1;
      background-color: transparent; }

      .bread-crumb a {
      color: #fff;
      display: inline-block;
      margin: 0 10px;
      position: relative;
      font-size: 16px;
      text-transform: uppercase; }
      .bread-crumb a:before {
      content: "/";
      position: absolute;
      right: -15px; }
      .bread-crumb a:last-child:before {
      display: none; }

      blockquote {
      font-size: 15px;
      color: #222;
      border-left: 4px solid #222;
      padding-left: 20px;
      margin: 40px 0;
      font-weight: 500; }

      /*=========== Section Style ============*/

      .section-title p {
      color: #6f6e6e;
      }
.section-title.bg-section-title h3 {
    color: #fff;
}

.section-title.bg-section-title p {
    color: #fff;
}
      .section-padding {
      padding:120px 0;
      }
      .m-60 {
      margin: 0 60px;
      }

      .paddingtop{
      padding: 70px 0;
      }
      .section-title{
      margin-bottom: 65px;
      }
      .main-title h4 {
font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 0px;
    /* color: #263566; */
      }
      .main-title h6 {
      color: #0E1F37;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
      padding: 0 15px;
      position: relative;
      }

.main-title.meain-title-bg-white p:after {
      border-color: #f8f9fa;
}
.main-title.meain-title-bg-white h4 {
    color: #fff;
}

.main-title.meain-title-bg-white p {
    color: #fff;
}

.main-title.meain-title-bg-white:before {
    border-color: #fff;
}
      .main-title h6:before, .main-title h6:after {
      content: '';
      width: 30px;
      height: 3px;
      background-color: #2ecbd1;
      position: absolute;
      bottom: 8px;
      }
      .main-title h6:before {
      left: -25px;
      }
      .main-title h6:after {
      right: -25px;
      }
      .main-title {
      position:  relative;
      text-align:  center;
      }
.section-title p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    color: #2a3b71;
    text-align: center;
}
      .section-title h3 {
        text-align: center;
        font-size: 38px;
        margin-top: 0;
        margin-bottom: 25px;
        line-height: 25px;
        color: #181b3a;
        font-weight: 600;
      }
      .main-title span {
      color: #2ecbd1;
      font-weight: 700;
      }
      .divi-title {
      margin-bottom: 20px;
      }

      .divi-title h4 {
      font-size: 35px;
      font-weight: 600;
      position: relative;
      margin-bottom: 20px;
      }

      .divi-title span {
      color: #2ecbd1;
      }
      .divi-title h4:before {
      content: '';
      width: 40px;
      height: 3px;
      background-color: #2ecbd1;
      position: absolute;
      bottom: -10px;
      }
      h1.title-page-back {
    position:  absolute;
    color: #EEEFF3;
    font-size: 140px;
    font-weight:  800;
    text-transform:  uppercase;
    left:  50%;
    transform: translate(-50%);
    z-index: 0;
    /* top: -48px; */
    bottom: -55px;
    display: none;
}

.title-main-page {
    position:  relative;
    z-index: 1;
}

/*page title*/
      .page-title {
      height: 50vh;
      width: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-attachment: fixed; 
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      z-index: 0; }
      .page-title-div {
    top: 55%;
    position: absolute;
    color: #fff;
    z-index: 11;
    width: 100%;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }
      .page-title-div h1 {
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 0px;
      color: #fff;
      }


        .overlay{    
          height: 100%;
          width: 100%;
          color: #fff;
      }

          /*----------------------------------------------------
          04-navbar
----------------------------------------------------*/
.navbar{
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  padding: 0;
}
a.navbar-brand img {
    width: 180px;
}
.navbar .container{
  padding: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-brand .b-logo{
  display: block;
}

.navbar .navbar-nav .nav-item{
  padding: 35px 18px;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item.dropdown:hover .dropdown-toggle {
    cursor: pointer;
    color: #46d4f8;
}

.dropdown-toggle::after{
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  margin: 0;
  border: none;
    font-weight: 900; /* <-- add this or 400 for other styles */
  vertical-align: 0;
  margin-left: 1px;
}

.dropdown-menu{
  width: auto;
  padding: 10px 5px 30px 5px;
  position: absolute;
  left: 0;
  border: none;
  box-shadow: 0 11px 35px rgba(0, 0, 0, 0.075);
}

@media  only screen and (min-width:992px){
  .dropdown-menu{
    visibility:hidden;
    opacity:0;
    display:block; 
    -webkit-transform:translateY(50px);
         -moz-transform:translateY(50px);
      -ms-transform:translateY(50px);
       -o-transform:translateY(50px);
        transform:translateY(50px);
    -webkit-transition: transform 0.4s ease;
        transition: transform 0.4s ease;
  }
  
  .dropdown:hover .dropdown-menu{
    margin-top:0;
    -webkit-transform:translateY(0);
         -moz-transform:translateY(0);
      -ms-transform:translateY(0);
       -o-transform:translateY(0);
        transform:translateY(0);
    visibility:visible;
    opacity:1;
  }
  
  .dropdown-menu > li{display: block;}
}

.dropdown-menu a {
    padding: 10px !important;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4A4545;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus{
  color: #1fcae8 !important;
  background: none;
}

.navbar .navbar-nav .nav-link {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
}
.mega-item{
  position: static;
}

.mega-menu{
  left: 0;
  right: 0;
}

.navbar .navbar-nav .nav-item.log-in{
  padding: 25px 10px;
}

.navbar .navbar-nav .nav-item.log-in .nav-link {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    background: #fff;
    color: #2ecbd1;
    border-radius: 4px !important
}

.navbar .navbar-nav .nav-item.log-in .nav-link:hover{
  background-color: #1fcae8;
  color: #fff !important;
  border-color: #1fcae8;
}
.navbar .navbar-nav .nav-link:hover {

    color: #fff;
}
.navbar-colored .nav-item.log-in .nav-link {
      color: #fff !important;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, .8) 0%, rgba(60, 205, 187, .8) 0%, rgba(22, 201, 246, .8) 100%) repeat scroll 0 0 !important;
    border-radius: 50px !important;
}
.navbar .navbar-nav .nav-link:hover, .navbar-colored .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active, .navbar-colored .navbar-nav .nav-link.active {
    color: #e5e6e6;
}
.navbar-colored  .navbar-nav .nav-link:hover, .navbar-colored .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active, .navbar-colored .navbar-nav .nav-link.active {
    color: #1fcae8;
}
.dropdown-item.active{
  color: #1fcae8;
  background-color: transparent;
}

.navbar .navbar-toggler:focus{
  outline: none
}

.navbar .navbar-toggler .fa-bars{
  color: #fff;
}

.navbar-colored{
    background-color: #fff;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: all .45s ease;
}

.navbar-colored .navbar-nav .nav-item{
  padding: 25px 18px;
}

.navbar-colored .navbar-nav .nav-link{
  color: #333;
}

.navbar-colored .navbar-nav .nav-item.log-in{
  padding: 15px 10px;
}

.navbar-colored .navbar-toggler .fa-bars{
  color: #2ecbd1;
}
@media (max-width: 991px) {
  .navbar-colored .navbar-nav .nav-link:hover, .navbar-colored .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active, .navbar-colored .navbar-nav .nav-link.active {
    color: #efefef;
}
  .navbar{text-align: left; }
  
  .navbar .container{padding: 20px 0;}
  
  .navbar-colored .container{padding: 10px 0;}
  
  .navbar-collapse{background-color: #fff; margin-top: 10px; max-height: 440px; overflow-y: scroll;}
  
  .navbar .navbar-nav .nav-item{padding: 0px 20px; display: block;}
  
.navbar .navbar-nav .nav-link {
    color: #fff;
    padding: 0px;
    display: inline-block;
}
  
  .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-toggle{color: inherit}
  
  .navbar .navbar-nav .nav-item.dropdown .dropdown-toggle:hover{color: #1fcae8;}
  
  .navbar .nav-item.dropdown .dropdown-menu{
    padding: 0;
        box-shadow: none;
        -webkit-transition: max-height 0.5s, opacity 0.2s 0.1s;
           -moz-transition: max-height 0.5s, opacity 0.2s 0.1s;
          -ms-transition: max-height 0.3s, opacity 0.2s 0.1s;
           -o-transition: max-height 0.5s, opacity 0.2s 0.1s;
            transition: max-height 0.5s, opacity 0.2s 0.1s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
    }
     .navbar .nav-item.dropdown .dropdown-menu.show{
        max-height: 230px;
        overflow-y: scroll;
        display: block;
        opacity: 1;
    }

  
  .navbar .navbar-nav .nav-item.log-in{margin-bottom: 10px; padding: 0 20px;}
  
  .navbar .navbar-nav .nav-item.log-in a{display: block; margin-bottom: 10px; text-align: center;}
}
@media (max-width: 767px){
.navbar-nav {
    padding: 25px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
}
}
        /*============ 4. Banner Section============*/
        .banner {
        height: 100vh;
        position: relative;
        width: 100%;
        display: block;

         }
         canvas.particles-js-canvas-el {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
section#home .owl-dots {
    display: none;
}
.has-patterns{
  background: url(../images/pattern-1.png);
    background-repeat: repeat;
    background-position: left top;
}
      
    .slider-area .owl-next, .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider-area .owl-next, .owl-prev {
    width: 30px;
    font-size: 32px;
    height: 45px;
}

.slider-area .owl-next, .owl-prev i {
    font-size: 20px;
    line-height: 35px;
}
.slider-area .owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 16px;
    margin: 5px;
    padding: 4px 7px;
background: rgba(190, 183, 183, 0.32941176470588235);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.slider-area .owl-prev {
    left: 0px;
}

.slider-area .owl-next {
    right: 0px;
}
.cd-headline{
  line-height: 35px !important;
}
/*Header Slider*/
a.navbar-brand.logo img {
    width: 135px;
}
.header-slides {
    width: 245px;
    position: absolute;
    z-index: 99;
    top: -55px;
} 
.header-slides .owl-nav .owl-prev {
    margin-top: 24px !important; 
    margin-left: -15px;
}
.header-app p {
    color: #fff;
    text-align: left;
}
.header-app {
    position: relative;
    z-index: 99;
}
.cd-words-wrapper b{

  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #ffffff;

}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #ffffff;
}
/*Header text style*/
.header-app h2 {
    font-size: 45px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #2bccf4 ;
}
  .color-logo{
    display: none;
  }
  nav.navbar.navbar-expand-lg.navbar-colored .white-logo {
    display: none;
}

nav.navbar.navbar-expand-lg.navbar-colored .color-logo {
    display: block;
}
a.nav-link.active {
    color: #ececec !important;
}

 /*download btn*/
a.watch-video {
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 10px;
    display: inline-table;
    font-weight: 600;
    background: linear-gradient(-29deg,rgba(255, 255, 255, 0.9) 0,rgba(247, 247, 247, 0.9) 100%);
    color: #30ccce;
    text-decoration: none;
    letter-spacing: 2px;
    transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-transform: uppercase;
}


.icon-download {
    width: 25%;
}

.icon-download i {
    font-size: 33px;
}
.header-btn {
    margin-top: 35px;
}
.header-slides .owl-nav {
    position: relative;
}

.header-slides .owl-nav .owl-prev, .header-slides .owl-nav .owl-next {
    position: absolute;
    margin-top: 20px;
}
.header-slides .owl-next {
    left: 60% !important;
}

.header-slides .owl-next i {
    font-size: 20px;
}

.header-slides .owl-prev {
    left: 90px !important;
    top: 2px;
}
.text-download h6 {
    font-size: 18px;
    color: #fff;
}

.text-download span {
    font-size: 16px;
}
a.download-btn:hover {
    background: #0c2d49;
}
nav.navbar-colored a.nav-link.active {
    color: #1fcae8 !important;
}
/*Header btn 1*/
a.header-btn-1 {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: inline-table;
    font-weight: 600;
    background: #fff;
    color: #28c9d7 !important;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-transform: uppercase;
    margin-right: 15px;
    cursor: pointer;
}
a.header-btn-1 i {
    font-size: 16px;
    line-height: 0px;
}
a.header-btn-1.header-btn-color {
    background: #1e5799;
    background: -webkit-linear-gradient(left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    /* background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%); */
    background: linear-gradient(to right, #1e5799 0%, #e68c02 0%, #eab71a 100%);
    color: #fff !important;
}
a.header-btn-1.header-btn-color:hover{
  background: #fff !important;
  color: #1fcae8 !important;

}
a.header-btn-1.header-btn-color:hover i{
    color: #1fcae8 !important;
}
.header-app p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
}
a.header-btn-1.header-btn-color i {
    color: #fff;
}
/*how app work section*/
.work-video:before {
    content: "";
    position: absolute;
    height: 310px;
    width: 500px;
    z-index: 0;
    left: 0;
    background: url(../images/phone-h.png);
    background-size: 100% 100%;
}
.work-video iframe {
    width: 405px;
    margin-left: 35px;
    margin-top: 30px;
    height: 255px;
    z-index: 99;
    position: relative;
}
.video-play-button {
    padding: 50px 0;
}
.work-qr img {
    width: 120px;
}
.work-qr {
    text-align: center;
}
.work-qr img {
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 7px 18px rgba(0, 0, 0, 0.1);
}
h5.work-qr-title {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}
h5.work-download-title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 35px;
}
.pattern-img{
  background: url(../images/pattern-1.png);
    background-repeat: repeat;
    background-position: left top;
    height: 100%;
    width: 100%;
  background-color: #1fcae8;
}
.pt-100.pb-100.pattern-img h2 {
    color: #fff;
}
h2.works-title {
    text-align: center;
    margin-bottom: 15px;
}
.pt-100.pb-100.pattern-img p {
    color: #fff;
}
p.work-info {
    text-align: center;
}
h5.work-download-title {
    color: #fff;
}
.banner-default {
    background-color: #1fcae8;
}
.work-qr img {
    background: #fff;
}

h5.work-qr-title {
    color: #fff;
}
.banner-color-3{
  background-color:#EBF5FF;

}
.banner-color-3 p {
    color: #656565;
}
.banner-color-3 .header-app h2 {
    color: #2ecbd1;
}
.banner-color-3  a.watch-video.btn.popup-video {
    /* background: red; */
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    color: #fff;
}
.banner-color-3  a.watch-video.btn.popup-video:hover {
    /* background: red; */
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(22, 201, 246, 1) 0%, rgba(60, 205, 187, 1) 100%) repeat scroll 0 0;
    color: #fff;
}
.banner-color-3  .header-btn i {
    color: #2ecbd1;
}
nav.navbar.navbar-expand-lg.nav-design-3 {
    background: #fff;
}

nav.navbar.navbar-expand-lg.nav-design-3 a {
    color: #333333;
}
.nav-design-3 .nav-item.log-in .nav-link{
    background-color: #1fcae8 !important;
    color: #fff !important;
    border-color: #1fcae8 !important;
}
.nav-design-3 a.nav-link.active {
    color: #33ab9f !important;
}
.nav-design-3.navbar-colored a.nav-link.active {
    color:#33ab9f !important;
}
.nav-design-3 a#navbarDropdown:hover {
    color: #33ab9f;
}
.nav-design-3 a.nav-link:hover{
    color: #33ab9f !important;
}
/*Screenshot section*/
.app-secreenshots .sec-title {
  margin-bottom: 70px;
}

.swiper-slider-container .container {
  position: relative;
}

.swiper-wrapper {
  height: 630px;
  width: 320px;
}

.row.app-section-slider.swiper-container-horizontal.swiper-container-3d.swiper-container-coverflow {
  position: relative;
}

.swiper-slide.swiper-slide-active {
  border-radius: 35px;
}

.app-screen-image {
  background-image: url(../images/iphone-moc.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height: 645px;
  left: calc(50% + 0.5px);
  position: absolute;
  top: 24px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 301px;
  z-index: 2;
  border-radius: 40px;
}

.swiper-slide.swiper-slide-active {
  background-size: 100% 100%;
}

.swiper-wrapper {
  padding: 30px 0 40px;
}

.swiper-slide.swiper-slide-next {
  -webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.18);
          box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.18);
}

.swiper-slide.swiper-slide-prev {
  -webkit-box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.18);
          box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.18);
}
.main-title {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.main-title h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
}
.counter-item-1 {
    text-align: center;
    margin-bottom: 50px;
}

.counter-item.counter-item-1 h6 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px;
}

.counter-item.counter-item-1 p span {
    font-weight: 600;
    font-size: 50px;
}
.main-features-item {
    padding: 30px 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}
.main-features-item-2.bg-white-color {
    padding: 30px 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}
/*faq*/
.faq-item {
    background: #ffffff;
    border-bottom: 5px solid #1fcae8;
    border-radius: 5px;
}

.faq-qus {
    background: #fff;
    box-shadow: 0 7px 15px rgba(0, 9, 128, 0.05), 0 12px 28px rgba(0, 9, 128, 0.075);
    padding: 15px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

.faq-qus h4 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #1fcae8;
}
.team-text p {
    color: #222 !important;
}
.faq-ans {
    padding: 15px 15px;
}
.faq-ans p{
 margin: 0px;
}
.faq-qus i {
    color: #1fcae8;
}
.faq-item {
    margin-bottom: 30px;
}
.faq-btn {
    text-align: center;
    margin-top: 30px;
}

.faq-btn h3 {
    font-size: 22px;
}

.faq-btn a {
    background: #1fcae8;
    padding: 8px 15px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px 25px;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 10px;
    display: inline-table;
    font-weight: 600;
    background: #1fcae8;
    color: #ffffff;
    text-decoration: none;
    transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-transform: uppercase;
}
.faq-btn a i {
    margin-left: 5px;
}

/*main services*/
.features-item {
    background: #fff;
    /* padding: 40px; */
    text-align: center;
    padding: 25px 20px;
    border-radius: 2px;
    transform: translateY(0px);
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.features-item i {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2ecbd1;
    width: 55px;
    height: 55px;
    border: 2px solid #2ecbd1;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
}

.features-item h4 {
    font-size: 22px;
    font-weight: 600;
}
 .features-item:hover {
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
    }


    /*Main Features*/
    h2.features-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0px;
    margin-bottom: 35px;
}
.main-features-item .main-item {
    display: flex;
    align-items: center;
}

.main-features-item .main-item i {
    font-size: 25px;
    line-height: 55px;
    width: 55px;
    text-align: center;
    height: 55px;
    color: #fff;
    border-radius: 4px;
    background: #1e5799;
    background: -webkit-linear-gradient(left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    /* border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%; */
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
}

.main-features-item .main-item  h4 {
    font-size: 20px;
    margin-left: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

.main-features-item .main-features-item {
    padding: 10px 20px;
    margin-bottom: 5px;
}

 .main-features-item .main-item {
    margin-bottom: 10px;
}
.main-features-item .main-text p {
    margin-bottom: 0px;
}

.main-features-item h2.features-title span {font-weight: 700;/* color: #1dcaed; */}

.main-features-item {
    margin-bottom: 35px;
}
.features-title-white{
  color: #fff;
}


.features-item-1 i:before {
    display: inline-block;
    font-size: 45px;
    line-height: 80px;
    width: 80px;
    margin-left: 0;
    text-align: center;
    height: 80px;
    color: #fff;
    border-radius: 4px;
    background: #1e5799;
    background: -webkit-linear-gradient(left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%); 
    /* background: linear-gradient(to right, #1e5799 0%, #e68c02 0%, #eab71a 100%); */
    /* border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%; */
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
    margin-bottom: 25px;
}
.features-item-1 {

    text-align: center;
    border-radius: 2px;
    transform: translateY(0px);
    transition: .3s;
}
.features-item-1 h4 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 25px;
}
.features-item-1 p{
  margin-bottom: 0px;
}
.main-features-item-2 {
    display: flex;
    align-items: center;
}

.main-features-item-2 .main-item h4 {
    font-size: 22px;
    font-weight: 600;
}

.main-features-item-2 .main-text {
    width: 60%;
}

.main-features-item-2 .main-text i {
    font-size: 25px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    height: 60px;
    color: #fff;
    border-radius: 4px;
    background: #1e5799;
    background: -webkit-linear-gradient(left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    /* border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%; */
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
}
.main-features-img-2 {
    /* width: 220px; */
    text-align: center;
}
.main-features-item-white i{
    background: #fff !important;
    color: #22cae4 !important;
    border-color: #fff !important;
  
}
.main-features-item-white h4{
  color: #fff;
}
.main-features-img-2 img {
    width: 220px;
}
.section-bg{
    background-image: url(../images/background/dummy-image.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.overlay{
  /* background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, .8) 0%, rgba(60, 205, 187, .8) 0%, rgba(22, 201, 246, 0.8) 100%) repeat scroll 0 0; */
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(10, 10, 10)0%, rgba(0, 0, 0, 0.56) 0%, rgba(60, 59, 59, 0.03) 100%) repeat scroll 0 0;
  width: 100%;
  height: 100%;
}

.main-features-item-2 .main-item p {
    margin-bottom: 0;
}

.main-features-item-2 {
    margin-bottom: 35px;   
     padding: 30px 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}
.main-title.bg-feature-white h2 {
    color: #fff;
}

.main-features-item-2.bg-feature-white h4 {
    color: #fff;
}

.main-features-item-2.bg-feature-white i {
    border-color: #fff;
    color: #fff;
}
.main-features-item-2.bg-feature-white:hover i {
    border-color: #fff;
    color: #1fcae8;
    background: #fff;
}
.main-features-item-2.bg-feature-white .main-text i {
    background: #fff;
    color: #31cccd;
}

.main-features-item-2.bg-feature-white p {
    color: #fff;
}
.main-features-item.main-features-item-white p {
    color: #fff;
}
/*Play btn*/

.video-app:before{
    border-right: 50vw solid #fff;
    border-top: 160px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 1;
}
.video-app:after{
    border-left: 50vw solid #fff;
    border-top: 160px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    z-index: 1;
}
.video-play-button a{
   position: relative;
    z-index: 2;
    color: #281483;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    display: block;
    -webkit-animation: ring-gray 1s linear infinite;
    animation: ring-gray 1s linear infinite;
    -webkit-transition: .5s linear;
    background: #fff;
}
.video-play-button a:hover{
    background: #281483; 
    color: #fff;
    background: -webkit-linear-gradient(left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
  
     box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1); 
}
.video-play-button a:hover span{
    color: #fff;
}
.video-play-button a span{
    font-size: 28px;
    color: #1fcae8;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
}
@-webkit-keyframes ring {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 163, 204, .1), 0 0 0 20px rgba(0, 163, 204, .1), 0 0 0 40px rgba(0, 163, 204, .1);
        box-shadow: 0 0 0 0 rgba(0, 163, 204, .1), 0 0 0 20px rgba(0, 163, 204, .1), 0 0 0 40px rgba(0, 163, 204, .1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(0, 163, 204, .1), 0 0 0 40px rgba(0, 163, 204, .1), 0 0 0 60px rgba(0, 163, 204, 0);
        box-shadow: 0 0 0 20px rgba(0, 163, 204, .1), 0 0 0 40px rgba(0, 163, 204, .1), 0 0 0 60px rgba(0, 163, 204, 0)
    }
}

@keyframes ring {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 163, 204, .1), 0 0 0 20px rgba(0, 163, 204, .1), 0 0 0 40px rgba(0, 163, 204, .1);
        box-shadow: 0 0 0 0 rgba(0, 163, 204, .1), 0 0 0 20px rgba(0, 163, 204, .1), 0 0 0 40px rgba(0, 163, 204, .1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(0, 163, 204, .1), 0 0 0 40px rgba(0, 163, 204, .1), 0 0 0 60px rgba(0, 163, 204, 0);
        box-shadow: 0 0 0 20px rgba(0, 163, 204, .1), 0 0 0 40px rgba(0, 163, 204, .1), 0 0 0 60px rgba(0, 163, 204, 0)
    }
}


@-webkit-keyframes ring-gray {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}

@keyframes ring-gray {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}
.banner .owl-nav {
    margin-top: 15px;
}
        .banner-creative2:after{
            content: '';
            display: block;
            height: 100%;
            background: url(../images/svg/m-style.svg) bottom no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            z-index: 1;
        }
                .banner-wave:after{
            content: '';
            display: block;
            height: 100%;
            background: url(../images/svg/wave-double.svg) bottom no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            z-index: 1;
        }
        .banner-creative-4:after{
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    bottom: 0;
    z-index: 2;
    background: url(../images/svg/wave-d.png) 100% 100% no-repeat;
    background-size: contain;
        }

    .banner-creative5:after{
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    bottom: 0;
    z-index: 2;
    background: url(../images/svg/shap_1.png) 100% 100% no-repeat;
    background-size: contain;
        }    
/*team member*/
.single-team {
    width: 90%;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 5px;
    /* background: #fff; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 7px 18px rgba(0, 0, 0, 0.1);
}

.team-text {
    padding: 10px 0;
    text-align: center;
    background: #fff;
    overflow: hidden;
    position: relative;
    min-height: 70px;
}

.team-text h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.team-carousel .item {
    padding: 15px  10px;
}
.team-text ul {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    padding: 0;
    margin: 0;
    -webkit-transform: translate3D(0, 100px, 0);
    -moz-transform: translate3D(0, 100px, 0);
    -ms-transform: translate3D(0, 100px, 0);
    -o-transform: translate3D(0, 100px, 0);
    transform: translate3D(0, 100px, 0);
}

.team-text ul li a {
    padding: 0;
    background: #FFF;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    -moz-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    -o-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    letter-spacing: .7px;
    border: 0;
    position: relative;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}
.team-text p {
    font-size: 16px;
}
.single-team:hover ul {
    -webkit-transform: translate3D(0, 0, 0); 
    -moz-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

.single-team:hover h4, .single-team:hover p {
    visibility: hidden;
    -webkit-transform: translate3D(0, -100px, 0);
    -moz-transform: translate3D(0, -100px, 0);
    -ms-transform: translate3D(0, -100px, 0);
    -o-transform: translate3D(0, -100px, 0);
    transform: translate3D(0, -100px, 0);
}

.team-text ul li {
    display: inline-block;
}

.team-text h4, .team-text p , .team-text ul {
    transition: all .3s ease-in-out;
}
.team-text p {
    margin-bottom: 0px;
}
.team-text h4 {
    margin-bottom: 0px;
}
.owl-dots {
    text-align:  center;
}
.owl-dot{
    width: 25px;
    height: 5px;
    padding: 0px;
}
.owl-dots .owl-dot {
    background: #D8DAD6;
    display: inline-block;
    padding-right: 0px;
    text-align: center;
    margin-right: 10px;
}
.owl-dots {
    margin-top: 30px;
}
.owl-dot.active {
    background: #123f6e;
}

/*about app section*/
.about-app-text h2 {
    font-size: 35px;
    line-height: 45px;
    text-transform: capitalize;
    color: #1fcae8;
    position: relative;
    margin-bottom: 35px;
}

.about-app-sec-text h2:after {
content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background: #19c9f1;
    left: 0;
    bottom: -10px;
}

.about-app-text p {
    text-align: left;
}
.about-more-btn {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    display: inline-table;
    letter-spacing: 1px;
    margin-right: 10px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    background-size: 100% auto;
        transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.about-more-btn:hover {
background-size: 200% auto;
    background: #fff;
    color: #33cae8;
}
.about-app-item i:before{
      font-family: Flaticon;
    font-size: 60px;
    font-style: normal;
     margin-left: 0px; 
    color: #1fcae8;
}
.about-app-item{
  margin-bottom: 15px;
}

ul.about-app-text-item {
    margin-top: 30px;
}

ul.about-app-text-item li {
    margin-bottom: 15px;

    display: block;
    letter-spacing: 0px;
    font-size: 14px;
    text-transform: capitalize;
}

ul.about-app-text-item i {
    background:#19c9f1 none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-right: 15px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    width: 20px;
    z-index: 1;
}
ul.about-app-text-item i:after {
    background: #19c9f1 none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 28px;
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 28px;
    z-index: -1;
}
/*Clients section*/
.client-carousel{
    margin-bottom: 40px;
  }
.clients-com {
    background: #ffffff;
    padding: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
    margin-top: 20px;

}
.client-box {
    margin: 20px;
}
.client-carousel .owl-nav {
    position: absolute;
}

.client-box.client-box-bg-white .clients-com:before {
    color: #2bdfff;
    /* z-index: 999; */
}
.client-box.client-box-bg-white h6 {
    color: #fff;
}
.client-caro-white .owl-nav i{
  background-color: #fff !important;
      color: #2bdfff !important;
}

.client-box.client-box-bg-white .clients-name p {
    color: #f9f6f6;
}
.clients-com a {
    margin-right: 10px;
}
.client-carousel .owl-prev {
    position: absolute;
    left: 0px;
}

.client-carousel .owl-next {
    position: absolute;
    left: 40px;
    margin-top: -6px;
    /* background: red; */
    display: inline-block;
    text-align: center;
    /* width: 20px; */
    /* height: 22px; */
}

.client-carousel .owl-next i {
    font-size: 16px;
    width: 30px;
    height: 30px;
    background: rgba(40, 20, 131, 0.05);
    /* background: #d7d3d3; */
    /* color: #fff; */
    line-height: 30px;
    font-weight: 600;
    border-radius: 5px;
}

.client-carousel .owl-prev i {
    text-align: center;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background: rgba(31, 202, 232, .4);
    /* background: #d7d3d3; */
    /* color: #fff; */
    line-height: 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
.client-carousel .owl-next i {
    text-align: center;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background: rgba(31, 202, 232, .4);
    /* background: #d7d3d3; */
    /* color: #fff; */
    line-height: 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
.client-carousel .owl-nav {
    position: absolute;
    left: 20px;
    margin-top: 10px;
}

div#c-caro .owl-prev {
    margin-top: 2px;
}
.client-carousel .owl-prev:hover i{
      background: rgba(31, 202, 232, 1);
}
.client-carousel .owl-next:hover i{
      background: rgba(31, 202, 232, 1);
}
.client-carousel .clients-com p {
    margin-bottom: 0;
}
.clients-img {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.clients-com p span {
    display: inline-block;
    color: #1fcae8;
}
.clients-img img {
    width: 90px !important;
    height: 90px;
    border-radius: 4px;
    border: 3px solid #ffffff;
}
.clients-name {
    width: 50%;
    margin-left: 20px;
}

.clients-name p {
    margin-bottom: 0;
    color: #7d7a7a;
    font-size: 16px;
}

.clients-name h6 {
    margin-bottom: 0px;
    font-size: 18px;
}
.clients-com:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    position: absolute;
    bottom: -10px;
    left: 55px;
}

.clients-com a {
    color: #1fcae8;
}
div#c-caro .owl-dots {
    display: none;
}

.feature-title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 35px;
}

.feature-title h2 {
    font-size: 22px;
    text-transform: capitalize;
}

.row.justify-content-center.feature-img img {
    padding: 10px;
    border: 1px solid #dcdcdc;
    background: #fff;
}
 
 /*Pricing table section*/
.pricing-item {
      background: #fff;
    text-align: center;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.pricing-title h3 {
    font-size: 45px;
    font-weight: 700;
    color: #1fcae8;
    padding: 10px;
}

.pricing-title h4 {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0px;
    background: #1fcae8;
}

.pricing-title ul {
    padding: 10px 0;
}

.pricing-btn {
    background: #1fcae8;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.pricing-title ul li {
    padding: 10px;
    /* padding-bottom: 5px; */
    font-size: 18px;
    line-height: 25px;
    border-bottom: 1px solid #efefef
}
.pricing-title ul li:last-child {
    border: 0px;
}
.pricing-title ul li i {
    font-size: 16px;
    color: #1fcae8;
}
.pricing-title .fa-times {
    color: #b8b8b8;
}
span.dol {
    font-size: 22px !important;
    position: absolute;
    top: 15px;
    left: 85px;
}

span.month {
    font-size: 18px !important;
    position: absolute;
    top: 40px;
    right: 40px;
    color: #333;
}

.pricing-title h3 {
    position: relative;
}
.counter-text span {
    font-size: 55px;
    letter-spacing: 0px;
    color: #2ecbd1;
    font-weight: 400;
    margin-right: 10px;
}

.counter-text p {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}
.counter-text.counter-bg-white p {
    color: #fff;
}
.blog-post-wrapper-div{
      border:0;
      transition: all ease-in-out .5s;
      box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
        transition: all ease-in-out .5s;
            border-radius: 5px;
      }

      .blog-post-image-div .img{
      overflow: hidden
      }

      .blog-post-image-div .img img {
      max-width: 100%;
      min-width: 100%
      }
      .post-detail-container-div{
      position: relative
      }

      .post-content-div {
      padding:  20px;
      position:  relative;
      text-transform: capitalize;
      }

      h3.post-title.entry-title {
    font-weight: 600;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 15px;
      }

      ul.list-unstyled.list-inline.post-metadata {
      display:  inline-block;
      width: 100%;
      }

      ul.list-unstyled.list-inline.post-metadata li {
      display: inline-block;
      font-size: 16px;
      font-family:  sans-serif;
      }
      p.post-excerpt {
          margin-bottom: 25px;
      }
      p.post-excerpt {
      }

      .view_detail {
      text-align:  center;
      }

a.blog-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: inline-table;
    font-weight: 600;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    color: #ffffff;
    text-decoration: none;
    transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-transform: uppercase;
}
      a.blog-btn:hover {
      background: #fff;
      color:#1fcae8;
      }
ul.list-unstyled.list-inline.post-metadata li {
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;
    color: #2c909e;
    letter-spacing: 0px;
}
      .blog-post-wrapper-div:hover{
      box-shadow: 0 17px 40px 0 rgba(0, 0, 0, 0.25);
      }
      .pagination-div {
      margin-top: 40px;
      }
      .pagination-div .page-link {
      position: relative;
      display: block;
      font-size: 16px;
      font-weight: 400;
      padding: 10px 15px;
      margin-left: -1px;
      line-height: 1.25;
      color: #212529;
      background-color: #fff;
    border: 1px solid #1ccaed;
      }
      ul.list-unstyled.list-inline.post-metadata {
      margin-bottom: 10px;
      }
      a.page-link.active {
      background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
      color: #fbfbfb;
      }
      .blog-grid-views .blog-post-wrapper-div {
      margin-bottom: 50px;
      }
      ul.list-unstyled.list-inline.post-metadata {
    text-align: center;
}

.post-content-div {
    text-align: center;
    padding: 15px 0px;
}
footer{
    /* background: #f4f5f9; */
    color: #fff;
    text-align: center;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
}
footer.footer-section p {
    color: #fff;
    font-size: 16px;
}

.footer-logo-section img {
    margin-bottom: 20px;
    width: 220px;
}

.footer-item .footer-title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}

ul.footer-list li {
    padding-bottom: 5px;
}
.footer-logo-section p {
    color: #fff;
}

ul.footer-list li a {
    display: block;
    padding: 6px 0;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
}
.footer-item.footer-address .footer-list li {
    display: block;
    display: block;
    padding: 6px 0;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0px;
}
.footer-copyright p {
    color: #fff;
}
.footer-item.footer-address .footer-list li i {
    margin-right: 6px;
}
.footer-bottom {
    padding:30px 0 10px;
    border-top: 1px solid #fff;
}
.footer-icon ul li {
    display: inline-block;
    padding: 5px;
}

.footer-icon ul li i {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    border-radius: 50%;
}

/*Newsletter section*/
form.subscribe-form-section input {
    box-shadow: 0px 2px 4px rgba(0,12,31,0.08);
    border: 2px solid #1fcae8;
    width: 100%;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 4px;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}

button.btn.subs-btn {
position: absolute;
    right: -2px;
    top: 0;
    border-radius: 4px;
    padding: 0px 40px;
    background: -webkit-linear-gradient(to right, #fe664e, #fb334e);
    background: #1fcae8;
    height: 100%;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    padding: 13px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}

form.subscribe-form-section {
    position: relative;
}
      
/*====================================
    15. PREload CSS
====================================*/
#preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}
#load {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1fcae8;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#load:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1fcae8;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#load:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1fcae8;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



     
      .slider-area .owl-dots {
      position:  relative;
      top: -60px;
      }
      .slider-area  .owl-dots .owl-dot{
      background: #fff;
      }
      .slider-area .owl-dot.active {
      background: #2ecbd1;
      }
      .slider-area .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: transparent;
      }
      .slider-area .owl-dots .owl-dot span {
      background: transparent;
      }
      .slider-area .owl-dot {
      border: 0px;
      margin-right: 5px; 
      width: 30px;
      height: 5px;
      border-radius: 10px;
      }
            .sl-item {
      width:  100%;
      height: 100vh;
      background-size:  cover;
      }
      .header-slides .owl-dots {
    display: none;
}
.banner-index{
    background-size: cover;
}

.banner-index:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, .9) 0%, rgba(60, 205, 187, .9) 0%, rgba(22, 201, 246, 0.9) 100%) repeat scroll 0 0;
    left: 0;
    top: 0;
}
.header-app.title-header-page h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.header-app.title-header-page h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 20px;
}
a.taso-btn.btn-bg-f {
    background: #1fcae8;
    padding: 8px 15px;
    display: inline-block;
    color:#29cbdb;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px 25px;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 10px;
    display: inline-table;
    line-height: 28px;
    font-weight: 600;
    background: #ffffff;
    color:#34cdcd;
    text-decoration: none;
    transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-transform: uppercase;
}
a.taso-btn {
    background: #1fcae8;
    padding: 8px 15px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 10px;
    display: inline-table;
    line-height: 28px;
    font-weight: 600;
    background: #218cff;
    color: #ffffff;
    text-decoration: none;
    transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-transform: uppercase;
}
footer.index-footer {
    padding: 10px 0px;
}

footer.index-footer p {
        margin-bottom: 0px;
    color: #fff;
}
.mobile-slider-area{
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 9;
    margin-top: 50px;
}
.mobile-slider-area img {
    margin: 0 auto;
}

.mobile-slider {
    border-radius: 26px;
    overflow: hidden;
    position: absolute;
    left: 20%;
    top: 13px;
    width: 60%;
}
a.header-icon.btn {
    font-size: 35px;
}

.mobile-slider.owl-carousel .owl-item img {
    max-width: 100%;
    width: auto;
}

@media only screen and (min-width: 1920px) {
    .mobile-slider {
        border-radius: 33px;
        height: 90%;
        left: 0;
        margin: 20px auto auto;
        right: 0;
        top: 0;
        width: 86%;
    }
    .mobile-slider-area img{
        width: 100%;
    }
    .mobile-slider::before {
        height: 25px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .mobile-slider {
        border-radius: 23px;
        height: 94%;
        left: 0;
        margin: 17px auto auto;
        right: 0;
        top: 0;
        width: 86%;
    }
    .mobile-slider::before {
        height: 24px;
    }
    .welcome-text h1 {
        font-size: 48px;
    }
    .mobile-slider-area img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-1 {
    display: none;
}
    .welcome-text {
        text-align: center;
    }


    .mobile-slider-area {
        display: none;
    }

.main-features-img-2.bg-feature-white {
    margin-bottom: 50px;
}
.features-item-1 {
    margin-bottom: 50px;
}

}

@media only screen and (max-width: 767px) {
    .welcome-text {
        text-align: center;
    }
    .welcome-text h1 {
        font-size: 26px;
    }
    .contact-form-section h2 {
    font-size: 22px;
}
.main-features-img-2.bg-feature-white {
    margin-bottom: 50px;
}
.features-main-img {
    margin-bottom: 50px;
}
    .welcome-area .download-button {
        display: none;
    }
    .mobile-slider-area {
        display: none;
    }
    .download-button a:first-child {
        margin-bottom: 30px;
    }
.page-title-div h1 {
    font-size: 35px;
}
.blog-sidebar {
    margin-top: 50px;
}
.about-img {
    margin-bottom: 50px;
}
.contact-info.d-flex .w-25 {
    width: 25% !important;
}

.contact-info.d-flex .w-75 {
    width: 50% !important;
}
.contact-info {
    margin-bottom: 50px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .welcome-text h1 {
        font-size: 32px;
    }
    .welcome-area .download-button {
        display: block;
    }
    .download-button a:first-child {
        margin-bottom: inherit;
    }
}


/*-------------------------------------------------------------------------------------
    pricing area
---------------------------------------------------------------------------------------*/

#pricing-area {
    padding: 95px 0 120px;
    background-image: url(../images/bg-3.png);
    background-repeat: no-repeat;
    background-position: bottom center
}

.pricing-wrap {
    -webkit-box-shadow: 0 0 30px #ddd;
    box-shadow: 0 0 30px #ddd;
    padding: 50px 50px 60px;
    border-radius: 6px;
    background-color: #fff
}

.pricing-wrapper {
    margin: 30px 0 0;
}

.pricing-pricing-table-single {
    border-radius: 5px;
    padding: 30px 30px;
    background-color: #ffffff;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 4px solid #F7F7F9;
    border-radius: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.pricing-pricing-table-single:hover {
    border: 4px solid #1fcae8;
}

.pricing-pricing-table-single.popular.text-center.pricing-active {
    border-color: #1fcae8;
}
.pricing-pricing-table-single h4 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.pricing-pricing-table-single h2 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0px;
    color: #1fcae8;
    margin-bottom: 5px;
}
.pricing-content h5 {
margin-bottom: 15px;
    font-weight: 600;
    font-style: inherit;
    font-size: 18px;
}
.pricing-pricing-table-single li {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px dotted rgba(238, 239, 239, 0.79);
}

.pricing-pricing-table-single a {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    display: inline-table;
    margin: 20px 0 0;
    letter-spacing: 1px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    background-size: 100% auto;
        transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1)
}

.pricing-pricing-table-single a:hover {
background-size: 200% auto;
    background: #fff;
    color: #33cae8;
}

.toggle,
.toggler-pircing {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.toggler-pircing {
    color: #e4e4e4;
    -webkit-transition: .2s;
    transition: .2s;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.toggler-pircing-is-active {
background-image: linear-gradient(-50deg, #1fcae8 0%, #54a3b1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    font-size: 16px;
    text-transform: uppercase;
}

.switch {
    display: block;
}

.toggle {
    position: relative;
    width: 80px;
    height: 35px;
    border-radius: 100px;
    background-image: linear-gradient(-50deg, #1fcae8 0%, #54a3b1 100%);
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.check:checked ~ .switch {
    right: 2px;
    left: 57.5%;
    -webkit-transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-delay: .08s, 0s;
    transition-delay: .08s, 0s;
}

.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 57.5%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    -webkit-transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-delay: 0s, .08s;
    transition-delay: 0s, .08s;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.inactive {
    display: none;
}

.pricing-wrapper .pricing-pricing-table-single {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation: cd-rotate 0.5s;
    animation: cd-rotate 0.5s;
}

.pricing-wrapper.inactive .pricing-pricing-table-single {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: cd-rotate-inverse 0.5s;
    animation: cd-rotate-inverse 0.5s;
    opacity: 0;
}

.pricing-wrapper .pricing-content {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation: cd-rotate-back 0.5s;
    animation: cd-rotate-back 0.5s;
}

.pricing-wrapper.inactive .pricing-content {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: cd-rotate-inverse-back 0.5s;
    animation: cd-rotate-inverse-back 0.5s;
    opacity: 0;
}

@-webkit-keyframes cd-rotate {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
    }
}

@keyframes cd-rotate {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(200deg);
        transform: perspective(2000px) rotateY(200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
        transform: perspective(2000px) rotateY(180deg);
    }
}

@-webkit-keyframes cd-rotate-inverse {
    0% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
}

@keyframes cd-rotate-inverse {
    0% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
        transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(20deg);
        transform: perspective(2000px) rotateY(20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
}

@-webkit-keyframes cd-rotate-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
    }
}

@keyframes cd-rotate-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(-200deg);
        transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
        transform: perspective(2000px) rotateY(-180deg);
    }
}

@-webkit-keyframes cd-rotate-inverse-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
}

@keyframes cd-rotate-inverse-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
        transform: perspective(2000px) rotateY(180deg);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(-20deg);
        transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
}
#accordion {
    margin: 30px 0 0;
}

#accordion .card {
    margin-bottom: 10px;
    border: 0
}

.card-header.active,
.card-header:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.card-body {
    padding-bottom: 25px;
    background: #f9f9f9;
    font-size: 14px;
    font-size: 0.875rem;
    color: #9599A7;
    line-height: 1.9;
}

.card-header {
    background-color: #f9f9f9;
    border-bottom: 0;
}

.card-header.active {
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header.active:after {
    content: "\f077";
    font-family: 'Font Awesome 5 Free';
    color: #17c9f4;
    font-weight: 900;
    background: white;
}
.card-header h5{
margin-left: 35px;
}
.card-header:after {
    content: "\f078";
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    position: absolute;
    width: 20px;
    line-height: 22px;
    background: #1fcae9;
    height: 20px;
    text-align: center;
    left: 15px;
    border-radius: 50%;
    color: #fff;
    top: 13px;
    font-weight: 900;
}

.card-header h5 a {
    display: block;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}
.card-header.active h5 a,
.card-header:hover h5 a,
.card-header:hover:after {
    color: #fff
}

.faq-img img {
    max-width: 260px;
    border-radius: 10px;
    border: 5px solid #f1f1f1;
    -webkit-box-shadow: 0 10px 30px #ccc;
    box-shadow: 0 10px 30px #ccc
}
.contact-form {
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}

.contact-form h2 {
text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    /* padding: 30px; */
    margin-bottom: 30px;
}
.accordian-div {
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
}
.contact-form-inner input {
    height: 55px;
    border-radius: 0px;
    font-size: 16px;
}

.contact-form-inner textarea {
    border-radius: 0px;
}

button#contact-submit {
    margin-top: 55px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff !important;
    display: inline-block;
    border: 0px;
    letter-spacing: 1px;
    font-weight: 600;
    /* background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0; */
    background-size: 100% auto;
    cursor: pointer;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    color: #ffffff;
    text-decoration: none;
    transition: all .5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-transform: uppercase;
}
button#contact-submit:hover {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #1fcae8 !important;
    display: inline-block;
    border: 0px;
    letter-spacing: 1px;
    font-weight: 600;
   background: #fff; 
    background-size: 100% auto;
}
.contact-form h2 span {
    color: #1fcae8;
    font-weight: 700;
}
.download-btn {
    width: 170px;
    display: flex;
    border-radius: 5px;
    height: 65px;
    align-items: center;
    /* justify-content: center; */
    z-index: 99;
}
.download-i i {
    color: #1fcae8;
}
.download-i {
    width: 35%;
    font-size: 30px;
    color: #222;
    text-align: -webkit-center;
}
.download-text {
    text-align: left;
}

.download-text p {
    margin-bottom: 0;
    font-size: 12px;
    color: #222;
}

.download-text h6 {
margin-bottom: 0;
    font-weight: 800;
    font-size: 16px;
}
.title-bg h2{
  color: #fff;
}
.main-title.title-bg p {
    color: #fff;
}
a.download-a {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 32px rgba(0,0,0,.05);
    transition: .3s;
    position: relative;
    z-index: 99;
}
a.download-a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
}



a.download-a:hover i, a.download-a:hover h6, a.download-a:hover p {
    color: #fff;
}

/*team*/
.our-team{
    padding: 20px 15px 30px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 32px rgba(0,0,0,.05);
    text-align: center;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
display: block;
    font-size: 20px;
    font-weight: 700;
    /* color: #2e282a; */
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: block;
    font-size: 16px;
    /* color: #1fcae8; */
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
display: block;
    width: 35px;
    height: 35px;
    line-height: 30px;
    border-radius: 4px;
    font-size: 18px;
    color: #1fcae8;
    border: 2px solid #1fcae8;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #1fcae8;
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
.post-detail-container-div {
position: relative;
    background: #fff;
    padding: 0 20px;
}
.contact-form-inner textarea {
    border-radius: 0px;
    font-size: 16px;
}

button.btn.subs-btn:hover {
  outline: none;
   background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
}
ul.list-unstyled.list-inline.post-metadata i {
    color: #1fcae8;
}

.post-content-div ul li {
    margin-left: 10px;
}
.pricing-content h2 span {
    font-size: 26px;
    position: absolute;
    margin-left: -22px;
    font-weight: 800;
}
/*Left Slider banner*/
.left-header-slider .owl-nav {
    position: relative;
}

.left-header-slider .owl-nav .owl-next,.left-header-slider .owl-nav .owl-prev {
    left: 0;
    position: absolute;
    top: 15px;
}

.left-header-slider .owl-nav .owl-next i {
    font-size: 30px;
}

.left-header-slider .owl-nav .owl-next {
    left: 50px;
}

.left-header-slider .owl-nav .owl-prev i {
    font-size: 30px;
}

.left-header-slider .owl-nav .owl-prev {
    margin-top: 13px;
}

.owl-carousel.client-caro.owl-loaded.owl-drag 
 img {
    width: 170px;
}

.owl-carousel.client-caro.owl-loaded.owl-drag .item {
    text-align: center;
}
.counter-text.counter-bg-white span {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
/*Page Section*/
.section-title-text {
    text-align: center;
    padding: 50px 0px 0 0;
}

.section-title-text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}
.section-title-text p {
    color: #fff;
}
.section-title-text .breadcrumb {
    background: transparent;

}
.section-title-text nav{
      display: inline-block;
      text-align: center;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #ffffff;
    content: "/";
}
.breadcrumb li {
    font-size: 15px;
    color: #fff !important;
    font-weight: 600;
}

/*About us*/
.about-text h4 {
    font-weight: 500;
    font-size: 20px;
    color: #2ecbd1;
}

.about-text h2 {
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    text-transform: capitalize;
}
/*Service Section*/
.service-bg-text.text-center h2 {
color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}

a.bg-btn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 30px;
    text-transform: uppercase;
    color: #2ecbd1;
    display: inline-table;
    margin: 20px 0 0;
    letter-spacing: 1px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    background-size: 100% auto;
}
.service-bg-text.text-center p {
    color: #fff;
    margin-bottom: 30px;
}
/*Contact us*/
  .contact-info.d-flex {
      justify-content:  center;
      align-items:  center;
      }

      .contact-icon i {
      font-size: 30px;
      width: 70px;
      text-align: center;
      height: 70px;
      line-height: 70px;
    color: #fff !important;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0 !important;
      border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
      box-shadow: 2px 2px 20px rgba(0,0,0,.1)
      }

.contact-text h2 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

      .contact-text.w-75 p {
      margin-bottom: 0;
      }
      .contact-form-section {

    background-color: #ffffff;
    box-shadow: 0 0 32px rgba(0,0,0,.05);
    padding: 50px;
}
.contact-form-section input {
    height: 55px;
    font-size: 16px;
    border-radius: 0;
}

.contact-form-section textarea {
    border-radius: 0px;
    font-size: 16px;
}
.contact-form-section {
    text-align: center;
    /* margin-bottom: 36px; */
}

.contact-form-section h2 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 38px;
}
section.map iframe {
    width: 100%;
    height: 500px;
    border: 0px;
}
section.map {
    margin-bottom: -20px;
}

.contact-form-section h2 span {
    color: #2ECBD1;
    font-weight: 700;
}


/*Login form*/
section.login-form-section {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}
.login-form-section:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
   background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
}
.login-form {
    background: #fff;
    padding: 50px;
    box-shadow: 0 0 32px rgba(0,0,0,.05);
    padding: 50px;
    border-radius: 5px;
}

.login-header h2 {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 35px;
}

.login-header a {

}

.login-header a img {
    width: 30px;
}
a.facebook span i {
    font-size: 20px;
    color: #2286f1;
    margin-right: 5px;
}

a.google span i {
    font-size: 20px;
    color: #f55f6d;
    margin-right: 5px;
}
.text-center.login-with a:hover {
    background: #1fcae8;
}

.text-center.login-with a:hover i {
    color: #fff;
}

.text-center.login-with a:hover {
    color: #fff;
}
.login-header a {
    /* background: rebeccapurple; */
    /* padding: 28px; */
    font-size: 16px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 15px;
    line-height: 30px;
    width: calc((100% - 60px) / 2);
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    /* margin-bottom: 35px; */
    margin: 0px 5px 35px 5px;
    z-index: 1;
}
.input-group-text {
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 0;
    width: 60px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    /* background-color: #1fcae8; */
    border: 1px solid #1fcae8;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.login-main .input-group {
    height: 55px;
    margin-bottom: 15px;
}

.login-main .input-group input {
    border-left: 0px;
    outline: none;
}
.login-main .input-group :hover, .login-main .input-group :focus {
  outline: none;
  box-shadow: none;
  border-color: #1fcae8;
}
.login-main button {
    /* background: red; */
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
    border: 0;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
}
.login-main button:hover{
   background:rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
}
section.login-form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.forget-pass{
  margin-bottom: 15px;
  display: inline-block;
}
.forget-pass:hover{
  color: red;
}
p.new-sign-in {
    text-align: center;
    margin-top: 15px;
}

p.new-sign-in a {
    color: #1ec9e9;
}
 /*404 page */
 .page-error{
  height: 100vh;
      display: flex;
    align-items: center;
 background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(60, 205, 187, 1) 0%, rgba(22, 201, 246, 1) 100%) repeat scroll 0 0;
 }

.error-image img {
    width: 300px;
}
.error-page-text {
    text-align: center;
}

.error-page-text h2 {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.error-page-text h1 {
    font-size: 150px;
    color: #fff;
    border-top: 3px solid #fff;
    font-weight: 800;
    border-bottom: 3px solid #fff;
    margin-bottom: 10px;
    margin-top: 10px;
  }

.error-page-text h2 span {
    font-weight: 800;
}

.error-page-text a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
}
.header-app.title-header-page img {
    width: 230px;
    margin-bottom: 10px;
}
.social-div {
    margin-top: 50px;
}

.social-div a i {
    width: 40px;
    height: 40px;
    border: 2px solid #1fcae8;
    font-size: 18px;
    line-height: 36px;
    border-radius: 4px;
    color: #1fcae8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
    transition: .3s;
}
.social-div a i:hover {
    background: #1fcae8;
    color: #fff;
}
.social-div a {
    margin-right: 5px;
}
 /*============ 15. Mobile Responsive  ============*/
      @media screen and (max-width: 1028px){


      }
      @media screen and (max-width: 991px) {
        .about-app-sec-text.about-app-left {
    margin-bottom: 50px;
}
.features-item-1 h4 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
}
.banner .owl-nav {
    margin-top: 10px;
}
.features-item-1 i:before {
   margin-left: 0px;

}
.features-item-1 {
    margin-bottom: 50px;
}
.about-app-sec-text.about-app-right {
    margin-top: 50px;
}
    .features-main-img {
    margin-bottom: 50px;
}
.about-app-item i:before {
    margin-top: 25px;
}
        .header-hand {
    display: none;
}
.login-header h2 {
    font-size: 28px;
}
.service-bg-text.text-center h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 15px;
}
        .header-right-slider {
    display: none;
}
.header-1 {
    display: none;
}
.main-features-item-2 {
    justify-content: center;
}

.error-image {
    text-align: center;
    margin: 50px 0px;
}
.footer-icon {
    text-align: center;
}
.error-image img {
    width: 170px;
}
.post {
    margin-bottom: 50px !important;
}
.widget.recent-posts-widget h3 {
    margin-bottom: 50px !important;
}
.error-page-text h2 {
    font-size: 25px;
}

.error-page-text h1 {
    font-size: 70px;
}
.section-title-text h2 {
    font-size: 30px;
    color: #fff;
}
.about-img {
    margin-bottom: 50px;
}
.widget.recent-posts-widget h3 {
    margin-bottom: 50px;
}
.login-header a {
    font-size: 16px;
    height: 60px;

}
footer{
    text-align: center;
}
.main-features-item-2 .main-text {
    width: 12%;
}
.main-features-img-2.bg-white-color img {
    margin-bottom: 50px;
}
.col-lg-2.feature-logo img {
    width: 200px;
    margin-bottom: 35px;
}
.login-header a {
    font-size: 16px;
    padding: 10px;
    line-height: 30px;
    width: calc((100% - 60px) / 2);
    height: 50px;
    border-radius: 10px;
    margin: 0px 5px 35px 5px;
    z-index: 1;
}
.login-header a img {
    width: 25px;
    margin-right: 5px;
}
.col-lg-2.feature-logo {
    /* align-items: center; */
    text-align: center;
}
.accordian-div {
    margin-bottom: 50px;
}
a.download-a {
    margin-bottom: 35px;
}
.navbar-collapse {
    text-align: center;
    background: #1fcae8;
}
          .navbar-collapse .nav-item {
          padding: 0 !important; }
          .navbar-collapse .nav-item a {
          display: inline-block;
          margin-top: 10px;
          margin-bottom: 10px; }
          .fixed-top .navbar-collapse {
          background-color: transparent; }
          .header-slides {
    display: none !important;
      }

      }

      @media screen and (max-width: 767px) {
        .header-app h2 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
}
h2.features-title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 30px;
}
.counter-text.counter-bg-white span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.contact-form h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    /* padding: 30px; */
    margin-bottom: 30px;
}
.navbar .navbar-nav .nav-item.dropdown .dropdown-toggle:hover {
    color: #fff;
}
nav.navbar-colored a.nav-link.active {
    color: #fff !important;
}
a.navbar-brand img {
    width: 145px;
}
        .counter-item {
    text-align: center;
    margin-bottom: 0;
          }
a.navbar-brand img {
    margin-right: 0;
    margin-left: 20px;
}
          .features-item {
              margin-bottom: 35px;
          }
          .main-features-item-2 .main-text {
              width: 15%;
          }
          .main-features-img-2.bg-white-color img {
              margin-bottom: 50px;
          }
          .pricing-pricing-table-single.text-center {
              margin-bottom: 50px;
          }
          .accordian-div {
              margin-bottom: 50px;
          }
          a.download-a {
              margin-bottom: 50px;
          }
          .our-team {
              margin-bottom: 50px;
          }
                      .work-video {
                margin-bottom: 60px;
            }

            h5.work-qr-title {
                margin-bottom: 30px;
            }

            .app-screen-image {
                display: none;
            }

            .pricing-item {
                margin-bottom: 50px;
            }

            .col-lg-2.feature-logo {
                width: 250px;
                text-align: center;
            }
            .counter-item {
                margin-bottom: 50px;
            }
            .blog-post-wrapper-div {
                margin-bottom: 50px;
            }
            .map {margin-bottom: 50px;}
            footer {
                text-align: center;
            }

            .footer-item {
                margin-bottom: 35px;
            }
            .work-video:before{
              display: none;
            }
            .work-video {
    text-align: center;
}
.work-video iframe {
    width: 330px;
    margin-top: 30px;
    height: 250px;
    z-index: 99;
    margin-left: auto;
    position: relative;
}

.footer-icon {
    text-align: center;
}
.client-box {
    margin-left: 20px;
}
.main-title h2 {
    font-size: 30px;
}
.team-title {
    text-align: center;
    margin-top: 50px;
}
.header-app ul li {
    margin-bottom: 15px;
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    padding-left: 30px;
    background: url(../images/circle.svg) no-repeat left center;
}
.footer-logo-section {
    margin-bottom: 30px;
}
div#navbarDropdownMenu a {
    text-align: center;
    padding: 0px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

div#navbarDropdownMenu {
    background: #1fcae8;
    border: 0px;
}
div#navbarDropdownMenu a:hover{
  background: transparent;
}

}
      @media screen and (max-width: 570px){
.main-features-item-2 .main-text {
    width: 20%;
}
.text-center.login-with a {
    width: 100%;
}
      }
      @media screen and (max-width: 460px){
.main-features-item-2 .main-text {
    width: 25%;
}
      }

      @media screen and (max-width: 370px){

      }

